$padding-section: 100px;
$padding-section-mobile: $padding-section / 2;


.section {
  position: relative;
  padding-top: $padding-section-mobile;
  &-background {
    position: absolute;
    z-index: -1;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: #217566;
    margin: 0;
    // min-height: 100vh;

    img {
      object-fit: cover;
      height: 100%;
    }
  }
  &-foreground {
    // padding-bottom: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  &-title{ 
    color: $section-heading-color;
    font-size: 22px;
    font-weight: $font-weight-extrabold;
    text-transform: uppercase;
    letter-spacing: -0.56px;
    text-align: center;
    margin-bottom: 25px;
  }
  &-subtitle { 

  }
  &-description { 
    max-width: 930px;
    margin: 0 auto;
    text-align: center;
    color: $global-alpha-color;
    font-weight: $font-weight-semibold;
    margin-bottom: 48px;
  }
  
  &-features { 
    background-color: #f4f7f9;
    padding: 35px 0 25px;
    .section-header {
      margin-bottom: 35px;
    }
  }

  &-works {
    .tabs{
      &-nav{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 35px;
      }
      &-link { 
        color: $global-color;
        font-size: $global-medium-font-size;
        font-weight: $font-weight-bold;
        border-radius: 5px;
        margin: 0 5px;
        padding: 5px 10px;
        &:hover {
          color: $global-inverse-color;
          background-color: $section-heading-color;
        }
      }
    }
  }
  
}

.heart-block { 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
  .heart-line {
    width: 90px;
    height: 1px;
    background-color: rgba($color: #062033, $alpha: .1);
  }
  .heart {
    font-size: 18px;
    margin: 0 14px;
    color: rgba($color: #062033, $alpha: .2);
  }
}

@media screen and (min-width: $breakpoint-xsmall) {
  .section {
    &-title {
      font-size: $global-xlarge-font-size;
    }
  }
}
@media screen and (min-width: $breakpoint-small) {
  .section {
    padding-top: $padding-section;
    &-title {
      font-size: $global-xlarge-font-size;
    }
    &-features { 
      padding: 75px 0 50px;
      .section-header {
        margin-bottom: 65px;
      }
    }

    &-works {
      .tabs{
        &-nav{
          flex-direction: row;
          margin-bottom: 35px;
        }
      }
    }
  }
}
@media screen and (min-width: $breakpoint-medium) {
  &-works {
    .tabs{
      &-link { 
        margin: 0 10px;
        padding: 10px 20px;
      }
    }
  }
}