.swiper-container {
  width: 100%;
  height: 100%;
  padding-bottom: 80px;
}
.swiper-pagination-bullet  { 
  width: 8px;
  height: 8px;
  border: 1px solid rgba($color: #062033, $alpha: .9);
  background-color: transparent;
  
}
.swiper-pagination-bullet-active {
  background-color: #062033;
  border-color: #062033;
} 

 .swiper-team { 
   overflow: hidden;
   padding-bottom: 87px;
 }